.adsandinfo-wrapper {
    width: 11.5%;
    float: right;
    margin-top: 20px;
    margin-right: 14.5%;
}
.adsandinfo-panel {
    border: none !important;
    width: 100% !important;
    margin-top: 0px !important;
}
.adsandinfo-panel-body {
    height: 300px;
    padding: 0 !important;
    background-color: #F7F7F7 !important;
}