.categorieslist-wrapper {
    width: 11.5%;
    float: left;
    margin-left: 14.5%;
    margin-top: 20px;
}
.categorieslist-panel {
    border: none !important;
    width: 100% !important;
    margin-top: 0px !important;
}
.categorieslist-panel-body {
    padding: 0 !important;
    border: none;
    background-color: #F7F7F7;
}
.categorieslist-group-item {
    border: none;
    background-color: #F7F7F7;
}
.active {
    background-color: #566573 !important;
}