.courselist-wrapper {
  width: 59%;
  float: left;
  padding-top: 20px;
  margin-left: 14%;
}
.courselist-thumbnail-col {
  padding-right: 0 !important;
  padding-left: 5px !important;
  cursor: pointer;
}
.courselist-container {
  width: 100%;
}
.courselist-thumbnail {
  margin-bottom: 5px !important;
}